* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .logo{
      margin-left: 50px;
      margin-right: 50px;
  }

  .margem{
    margin-left: 300px;
}

  .texto-menu {
    font-size: 14pt;
    font-family: Aksara Bali Galang;
    color: white;
    padding-right: 20px;
  
  }

  .texto{
    font-size: 20pt;
    color: white;
    font-family: Alata;
    
  }

  .titulo{
    font-size: 40pt;
    color: white;
    font-family: Alata;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 0px;
  }
  .titulo2{
    font-size: 20pt;
    color: white;
    font-family:  Roboto Slab, sans-serif;
    margin-bottom: 0px;
    margin-top: 100px;
  }
  .titulo3{
    font-size: 35pt;
    color: white;
    font-family: Alata;
    text-shadow: 2px 2px 4px #72077f;
    margin-bottom: 0px;
    margin-top: 100px;
     
  }

  .btn{
    border-radius: 7px !important;
    align-items: center !important;
  }
  .botao{

    background-color: #72077f;
    opacity: 0.7;
    width: 140px;
    height: 40px; 
    display: flex;
   justify-content: center;
   align-items: center;
}

.botao:hover { 
  
  background-color: #72077f;
  opacity: 1;
    width: 140px;
    height: 40px; 
    display: flex;
   justify-content: center;
   align-items: center;
  
}

 
  .titulo4{
    font-size: 30pt;
    color: #ffffff;
    font-family:  Roboto Slab, sans-serif;
     
  }

  .margem2{
    margin-bottom: 200px;
    
}

.margemd{
    margin-right: 430px;  
    
}


.tm-social{
    /* max-width: 100% !important; */
    width: 225px !important;
    height: 225px !important;
    object-fit: cover !important;
}
.tm-social2{
    width: 350px;
    height: 350px;
}
/*********************** Demo - 16 *******************/
.box16{text-align:center;color:#fff;position:relative}
.box16 .box-content,.box16:after{width:100%;position:absolute;left:0}
.box16:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
.box16 .post,.box16 .title{transform:translateY(145px);transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s}
.box16:hover:after{background:rgba(0,0,0,.70)}
.box16 img{width:100%;height:auto}
.box16 .box-content{padding:20px;margin-bottom:50px;bottom:0;z-index:1}
.box16 .title{font-size:20px;font-weight:700;text-transform:uppercase;margin:0 0 10px}
.box16 .post{display:block;padding:8px 0;font-size:15px}
.box16 .social li a,.box17 .icon li a{border-radius:50%;font-size:20px;color:#fff}
.box16:hover .post,.box16:hover .title{transform:translateY(0)}
.box16 .social{list-style:none;padding:0 0 5px;margin:1px 0 25px;opacity:0;position:relative;transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);transition:all .6s cubic-bezier(0,0,.58,1) 0s}
.box16:hover .social{opacity:1;transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0)}
/* nessa linha abaixo mexe na linha branca: */
.box16 .social:before{content:"";width:50px;height:1px;background:#fff;margin:0 auto;position:absolute;top:-40px;left:0;right:0}
/* </linha branca terminou> */
.box16 .social li{display:inline-block}
.box16 .social li a{display:block;width:40px;height:40px;line-height:40px;background:#6d3795;margin-right:10px; transition:all .3s ease 0s}
.box17 .icon li,.box17 .icon li a{display:inline-block}
.box16 .social li a:hover{background:#da8507}
.box16 .social li:last-child a{margin-right:0}
@media only screen and (max-width:990px){.box16{margin-bottom:30px}
}


  

  .parallax {
    background-image: url("/assets/sobre2.jpg");

    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0px;
}

#sobre {
  margin: 0;
  border: 0;
  height: 660px;
  background: rgba(114, 7, 127, 0.6);
 
}

#produtos{
  margin: 0;
  border: 0;
  height: 700px;
  background-color: #72077f;
  text-shadow: 2px 2px 4px #500558;
}

#dev {
  margin: 0;
  border: 0;
  height: 100%;
  background: rgba(114, 7, 127, 0.6);
  padding-bottom: 90px;
}

.produto{
  width: 100px;
  height: 100px;
}

.media .col {
  display: none;
}

@media only screen and (max-width: 420px) {
  html {
    width: 100vw;
  }
  .parallax {
    background-image: url("/assets/sobre2.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0px;
  }

  .titulo {
    font-size: 28pt;
    margin: 130px 10px 0 10px;
  }

  .botao {
    margin-left: 10px;
  }

  #sobre img {
    position: relative;
    width: 95vw !important;
    height: 180px;
  }

  #produtos img{
    display: none;
  }

  #produtos .incones{
    display: none;
  }

  #produtos p {
    margin: 0 !important;
    font-size: 15pt;
  }

  #produtos h3{
    font-size: 15pt;
  }

  #dev {
    position: relative;
    height: 100% !important;
    flex-grow: 1;
  }

  #dev {
    position: relative;
    height: 100vh;
    flex-grow: 1;
  }

  .box-content, .box16 {
    position: relative;
  }

  .none .col {
    display: contents;
  }

  .navbar ul {
    margin-left: 50px;
  }

  .navbar li {
    padding-bottom: 10px;
  }
}
  