<nav class=" fixed-top navbar navbar-expand-md navbar-light" style="background-color: #130538">
    <img src="/assets/imei2.png" alt="Logo" width="90px" height="90px" class="img-fluid logo">
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link text-white ml-1" href="#intro">Intro<span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white ml-1" href="#sobre">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white ml-1" href="#dev">Desenvolvedores</a>
            </li>

        </ul>
    
    </div>
</nav>


<div id="intro" class="parallax p-0">

    <div class="container-fluid" style="padding-top: 20%;">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                
                <p class="titulo">Dando visibilidade a Microempreendedores</p>
                <a class="btn text-white botao hover" routerLink='/login'> Entre </a>
            </div>
        </div>

    </div>
</div>

<div id="sobre" class="d-flex align-items-center container-fluid">
    <div class="container-fluid">

        <h3 class="text-center titulo3 mt-5">Sobre</h3>
        <p class="text-center texto ">Rede social criada com o intuito de divulgar para a comunidade, os produtos e
            serviços dos pequenos empresários. Assim gerando renda </p>
        <p class="text-center">
            <img src="/assets/divulgacao.png" width="1200px" height="500px">
        </p>

    </div>
</div>





<div id="dev" class="container-fluid ">
    <br>
    <br>
    <br>
    <h3 class="text-center titulo4">&lt;Dev Team&gt;</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    
        <div class="d-flex justify-content-center row ml-4">
            <div class="col">
                <div class="box16 tm-social">
                    <img class="tm-social" src="https://i.imgur.com/LwIKM0E.jpg">
                    <div class="box-content">
                        <h3 class="title">João Lira</h3>
                        <span class="post">Desenvolvedor Java Jr</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box16 tm-social">
                    <img class="tm-social" src="https://i.imgur.com/HiMf5cI.png">
                    <div class="box-content">
                        <h3 class="title">Lucas Côrrea</h3>
                        <span class="post">Desenvolvedor Java Jr</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box16 tm-social">
                    <img class="tm-social" src="https://i.imgur.com/IOFMk5D.jpg">
                    <div class="box-content">
                        <h3 class="title">Sthefany Silva</h3>
                        <span class="post">Desenvolvedora Java Jr</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box16 tm-social">
                    <img class="tm-social" src="https://i.imgur.com/wk4ir7Q.jpg">
                    <div class="box-content">
                        <h3 class="title">Sergio Ruiz</h3>
                        <span class="post">Desenvolvedor Java Jr</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="col">
                <div class="box16 tm-social">
                    <img class="tm-social " src="https://i.imgur.com/1sGUipx.png">
                    <div class="box-content">
                        <h3 class="title">Cinthia Tengan</h3>
                        <span class="post">Desenvolvedora Java Jr</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    
</div>
<app-rodape></app-rodape>