<nav class=" fixed-top navbar navbar-expand-md navbar-light" style="background-color: #130538">
    <img src="/assets/imei2.png" alt="Logo" width="90px" height="90px" class="img-fluid logo">
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link text-white ml-1" href="#home">Home<span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white ml-1" href="#sobre">Sobre nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white ml-1" href="#produtos">Serviços e Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white ml-1" href="#dev">Desenvolvedores</a>
            </li>

        </ul>
    
    </div>
</nav>


<div id="home" class="parallax p-0">

    <div class="container-fluid" style="padding-top: 20%;">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                
                <p class="titulo">Dando visibilidade a microempreendedores</p>
                <a class="btn text-white botao hover" routerLink='/login'> Entre </a>
            </div>
        </div>

    </div>
</div>

<div id="sobre" class="d-flex justify-content-center container-fluid">
    <div class="container-fluid">

        <h3 class="text-center titulo3">Sobre nós</h3>
        <p class="text-center texto mt-3 mb-5">Nossa rede social foi desenvolvida para que micro e pequenos empreendedores pudessem <br> divulgar seus serviços e produtos de uma forma competitiva e gratuita.</p>
        <p class="text-center">
            <img src="/assets/divulgacao.png" width="900px" height="300px">
        </p>

    </div>
</div>

<div id="produtos" class="d-flex justify-content-start container-fluid">
    <div class="container-fluid">

        <h3 class="titulo2 ml-5 mb-5">Encontre Serviços e Produtos como:</h3>

        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-4 d-flex justify-content-center mt-5">
                    <img class="produto" src="/assets/artesanato.png">
                    
                </div>
                <div class="col-md-4 d-flex justify-content-center mt-5">
                    <img class="produto" src="/assets/organico.png">
                    
                </div>
                <div class="col-md-4 d-flex justify-content-center mt-5">
                    <img class="produto" src="/assets/palhaco.png">
                    
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4 d-flex justify-content-center mt-3">
                    <p class="texto">Artesanato</p>
                    
                </div>
                <div class="col-md-4 d-flex justify-content-center mt-3">
                    <p class="texto">Produtos Orgânicos</p>
                    
                </div>
                <div class="col-md-4 d-flex justify-content-center mt-3">
                    <p class="texto">Artistas Livres</p>
                    
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4 d-flex justify-content-center mt-5">
                    <img class="produto" src="/assets/limpeza.png">
                    
                </div>
                <div class="col-md-4 d-flex justify-content-center mt-5">
                    <img class="produto" src="/assets/lanche.png">
                    
                </div>
                <div class="col-md-4 d-flex justify-content-center mt-5">
                    <img class="produto" src="/assets/aulas.png">
                    
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4 d-flex justify-content-center mt-3">
                    <p class="texto">Limpeza</p>
                    
                </div>
                <div class="col-md-4 d-flex justify-content-center mt-3">
                    <p class="texto">Lanches</p>
                    
                </div>
                <div class="col-md-4 d-flex justify-content-center mt-3">
                    <p class="texto">Aulas Particulares</p>
                    
                </div>
            </div>
        </div>
     
            
       

    </div>
</div>





<div id="dev" class="container-fluid ">
    <br>
        
    <h3 class="text-center titulo3">Desenvolvedores</h3>
    <br>
    <br>
    <br>
    <br>
    
        <div class="d-flex justify-content-center row ml-4">
            <div class="col">
                <div class="box16 tm-social">
                    <img class="tm-social" src="https://i.imgur.com/LwIKM0E.jpg">
                    <div class="box-content">
                        <h3 class="title">João Lira</h3>
                        <span class="post">Desenvolvedor Java Jr</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box16 tm-social">
                    <img class="tm-social" src="https://i.imgur.com/HiMf5cI.png">
                    <div class="box-content">
                        <h3 class="title">Lucas Côrrea</h3>
                        <span class="post">Desenvolvedor Java Jr</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box16 tm-social">
                    <img class="tm-social" src="https://i.imgur.com/IOFMk5D.jpg">
                    <div class="box-content">
                        <h3 class="title">Sthefany Silva</h3>
                        <span class="post">Desenvolvedora Java Jr</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box16 tm-social">
                    <img class="tm-social" src="https://i.imgur.com/wk4ir7Q.jpg">
                    <div class="box-content">
                        <h3 class="title">Sergio Ruiz</h3>
                        <span class="post">Desenvolvedor Java Jr</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="col">
                <div class="box16 tm-social">
                    <img class="tm-social " src="https://i.imgur.com/1sGUipx.png">
                    <div class="box-content">
                        <h3 class="title">Cinthia Tengan</h3>
                        <span class="post">Desenvolvedora Java Jr</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    
</div>
<app-rodape></app-rodape>