<div class="container-fluid">
  <!-- conteudo geral -->
  <div class="row d-flex content ">

    <!-- menu -->
    <div class="col-md-2 menu d-flex justify-content-center" style="background-color: #884890;">
      <nav class="navbar navbar-expand-lg navbar-light flex-column fixed" style="background-color: #884890;">

        <!-- img-perfil -->
        <div class="row mt-4 mb-4">
          <div class="col d-flex justify-content-center">
            <img src="/assets/imei2.png" alt="Logo da empresa" style="width: 100px;" height="50px">
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <!-- /img-perfil -->

        <!-- itens do menu -->
        <div class="collapse navbar-collapse flex-column" id="conteudoNavbarSuportado">

          <div class="row d-flex align-items-center justify-content-center flex-column">
            <div class="col-md-12">
              <img class="rounded div-img" src="{{foto}}" alt="Foto de perfil">

            </div>

            <!-- <div class="col-md-8 pl-5 bg-success"><span class="text-white">Maria José da Silva pinheiros</span></div> -->
          </div>

          <div class="row mt-2">
            <div class="col-md-12">
              <div class="row">
                <div class="col text-center">
                  <span class="text-white text-center">{{nome}}</span>
                </div>
              </div>

              <ul class="navbar-nav mr-auto nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">

                <!-- modal do editar perfil -->
                <li class="nav-item active mt-4 d-flex align-items-center">
                  <img src="/assets/lapis.png" width="13px" height="15px">
                  <a class="active text-light ml-2" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                    role="tab" aria-controls="v-pills-home" aria-selected="true" data-toggle="modal"
                    data-target="#EditarPerfil">Editar perfil</a>
                </li>
                <!-- modal do editar perfil -->

                <div class="dropdown-divider mt-4"></div>

                <li class="mt-4 d-flex align-self-center">
                  <span class="text-light "> Publicações </span>
                </li>

                <li class="mt-4 d-flex align-items-center">
                  <img src="/assets/todas.png" width="13px" height="15px">
                  <a class="ml-2 text-light" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                    role="tab" aria-controls="v-pills-profile" aria-selected="false">Todas</a>
                </li>
                <li class="mt-2 d-flex align-items-center">
                  <img src="assets/perfil.png" width="13px" height="15px">
                  <a (click)='findByIdUser()' class="ml-2 text-light" id="v-pills-messages-tab" data-toggle="pill"
                    href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                    aria-selected="false">Minhas</a>
                </li>

                <li class="mt-2 d-flex align-items-center">
                  <img src="/assets/tema.png" width="13px" height="15px">
                  <a class="ml-2 text-light" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                    role="tab" aria-controls="v-pills-settings" aria-selected="false">Por tema</a>
                </li>

                <a class="mt-100 text-center text-light btn-sair" routerLink = '/login'>Sair</a>
              </ul>
            </div>
          </div>

        </div>
        <!-- itens do menu -->

      </nav>
    </div>
    <!-- /menu -->

    <div class="col-md-7 mt-3 mb-3 content-post">

      <div class="row">
        <div class="col-md-12">
          <app-menu></app-menu>

          <!-- modal de postagem -->
          <div class="form-group">
            <a class="btn bg-light cor-roxa btn-publique d-flex justify-content-start" style="border-radius: 10px;"
              data-toggle="modal" data-target="#NovaPostagem" href="">Publique algo</a>
          </div>
          <!-- /modal de postagem -->
        </div>
      </div>

      <div class="tab-content" id="v-pills-tabContent">
        
        <!-- Todas as postagens -->
        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div class="card mt-3 mb-3 pb-3" *ngFor='let item of listaPostagens | orderBy : key : reverse'>
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <img class="rounded div-img-peq" src="{{item.usuario.foto}}" alt="Foto de perfil">
                <span class="text-center ml-3 fs-20">{{item.usuario.nome}}</span>
              </div>
              <h5 class="card-title">{{item.titulo}}</h5>
              <p class="card-text">{{item.campo}}</p>
              <p class="card-text"><small class="text-muted">{{item.dataPost | date: 'dd/MM/yyyy'}} às {{item.dataPost |
                  date: 'HH:mm'}}</small></p>
            </div>

            <div class="align-self-center">
              <img class="card-img-top img-postagem img-fluid rounded" src="{{item.linkImagem}}"
                alt="Imagem de capa do card">
            </div>
          </div>
        </div>

        <!-- <div class="card-columns">
            <div class="card text-center" *ngFor='let item of listaPostagens | orderBy : key : reverse'>
              <div class="card-body">
                <h5 class="card-title m-0"> {{item.titulo}} </h5>
                <small class="text-muted">Tema: {{item.tema.descricao}} </small>
                <p class="card-text mt-3"> {{item.campo}} </p>
                <p class="card-text">
                  <small class="text-muted"> {{item.dataPost | date: 'dd/MM/yyyy'}} às {{item.dataPost | date: 'HH:mm'}}
                  </small>
                </p>
    
                <p class="card-text">
                  <small class="text-muted">By: {{item.usuario.nome}} </small>
                </p>
              </div>
            </div>
          </div> 
        </div>-->
        <!-- /todas as postagem -->

     <!-- copia -->
        <!-- minhas postagem -->

        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div class="card mt-3 mb-3 pb-3" *ngFor='let item of user.postagem | orderBy : key : reverse'>
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <img class="rounded" style="width: 40px;" src="{{foto}}" alt="Foto de perfil">
                <span class="text-center ml-3 fs-20">{{nome}}</span>
              </div>
              <h5 class="card-title">{{item.titulo}}</h5>
              <p class="card-text">{{item.campo}}</p>
              <p class="card-text">
                <small class="text-muted">{{item.dataPost | date: 'dd/MM/yyyy'}} às {{item.dataPost |
                  date: 'HH:mm'}}</small>
              </p>
            </div>

            <div class="align-self-center">
              <img class="card-img-top img-postagem img-fluid rounded" src="{{item.linkImagem}}"
                alt="Imagem de capa do card">
            </div> 

            <hr>

            <div class="d-flex align-items-center justify-content-center">
              <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
              <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>
            </div>

          </div>
        </div>

        <!-- <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div class="card-columns">
            <div class="card text-center" *ngFor='let item of user.postagem | orderBy : key : reverse'>
              <div class="card-body">
                <h5 class="card-title m-0"> {{item.titulo}} AAAAAAA </h5>
                <small class="text-muted">Tema: {{item.tema.descricao}} AAAAAAAAA </small>
                <p class="card-text mt-3"> {{item.campo}} AAAAAAAA </p>
                <p class="card-text">
                  <small class="text-muted">{{item.dataPost | date: 'dd/MM/yyyy'}} às {{item.dataPost | date:
                    'HH:mm'}}</small>
                </p>

                <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
                <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>

              </div>
            </div>
          </div>
        </div> -->
        <!-- /minhas postagem -->
        <!-- copia -->

        <!-- copia -->
        <!-- por tema -->
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <div *ngFor='let tema of listaTemas'>
            <div class="card mt-3 mb-3 pb-3" *ngFor='let item of tema.postagem | orderBy : key : reverse'>
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <img class="rounded" style="width: 40px;" src="{{item.usuario.foto}}" alt="Foto de perfil">
                  <span class="text-center ml-3 fs-20">{{item.usuario.nome}}</span>
                </div>
                <h5 class="card-title">{{item.titulo}}</h5>
                <p class="card-text">Tema: {{tema.descricao}}</p>
                <p class="card-text">{{item.campo}}</p>
                <p class="card-text">
                  <small class="text-muted">{{item.dataPost | date: 'dd/MM/yyyy'}} às {{item.dataPost |
                    date: 'HH:mm'}}</small>
                </p>
              </div>

              <div class="align-self-center">
                <img class="card-img-top img-postagem img-fluid rounded" src="{{item.linkImagem}}"
                  alt="Imagem de capa do card">
              </div> 
            </div>
            </div>
        </div>

        <!-- <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <div class="card-columns" *ngFor='let tema of listaTemas'>
            <div class="card text-center" *ngFor='let item of tema.postagem | orderBy : key : reverse'>
              <div class="card-body">
                <h5 class="card-title m-0"> {{item.titulo}} </h5>
                <p class="card-text mt-3"> {{item.campo}} </p>
                <p class="card-text">
                  <small class="text-muted">{{item.dataPost | date: 'dd/MM/yyyy'}} às {{item.dataPost | date:
                    'HH:mm'}}</small>
                </p>

                <p class="card-text">
                  <small class="text-muted">By: {{item.usuario.nome}} </small>
                </p>

              </div>
            </div>
          </div>
        </div> -->
        <!-- /por tema -->
        <!-- copia -->


      </div>
    </div>
  </div>
  <!-- /conteudo geral -->
</div>

<!-- modal postagem -->
<div class="modal fade" id="NovaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-modal" style="border-radius: 10px;">
      <!-- <div class="modal-header"> -->

      <!-- </div> -->
      <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title text-center text-white" id="TituloModalCentralizado">Nova Postagem</h5>

        <div class="form-group">
          <label class="text-white" for="titulo">Titulo</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control cor-roxa" style="border-radius: 10px;"
            id="titulo" placeholder="Digite o titulo">
        </div>

        <div class="form-group">
          <label class="text-white" for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.campo' style="border-radius: 10px;" class="form-control" name="texto"
            id="texto" rows="5"></textarea>
        </div>

        <div class="form-group">
          <label class="text-white" for="titulo">Link da imagem</label>
          <input [(ngModel)]='postagem.linkImagem' type="text" style="border-radius: 10px;"
            class="form-control cor-roxa" id="linkImagem" placeholder="Insira o link da imagem para postar">
        </div>

        <label class="text-white" for="tema">Escolha um tema ou <strong><a data-dismiss="modal" class="fonte"
              style="text-decoration: none" routerLink="/tema">cadastre um novo</a></strong></label>
        <select class="form-control" style="border-radius: 10px;" name="tema" id="tema" [(ngModel)]='idTema'
          (change)='findByIdTema()'>
          <option value="">Escolha um tema</option>
          <option *ngFor='let tema of listaTemas' value="{{tema.id}}"> {{tema.descricao}} </option>
        </select>
        <div class="d-flex justify-content-center">
          <button type="button" class="text-white btn botao mt-3" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn botao2 text-white ml-3 mt-3" data-dismiss="modal"
            (click)='publicar()'>Postar</button>
        </div>
      </div>





    </div>
  </div>
</div>
<!-- fim postagem -->



<!-- modal do editar perfil -->
<div class="modal fade" id="EditarPerfil" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="border-radius: 10px;"role="document">
    <div class="modal-content bg-modal">

      
      

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title text-center text-white mb-3" id="TituloModalCentralizado">Editar perfil</h5>
          
      

        <div class="form-group">
          <input [(ngModel)]='user.nome' class="form-control" type="text" style="border-radius: 10px;" name="nome" id="nome" placeholder="Seu nome">
        </div>

        <div class="form-group">
          <input [(ngModel)]='user.email' class="form-control" style="border-radius: 10px;" type="email" name="email" id="email"
            placeholder="Seu Email">
        </div>

        <div class="form-group">
          <input [(ngModel)]='user.foto' class="form-control" style="border-radius: 10px;" type="text" name="foto" id="foto"
            placeholder="Foto de Perfil">
        </div>

        <div class="form-group">
          <input (input)='confirmSenha($event)' class="form-control" style="border-radius: 10px;" type="password" name="senha" id="senha"
            placeholder="Sua Senha">
        </div>


        <div class="form-group">
          <input [(ngModel)]='user.senha' class="form-control" style="border-radius: 10px;" type="password" name="confirmSenha" id="confirmSenha"
            placeholder="Confirme sua Senha">
        </div>

        <!-- <div class="form-group">
          <select class="form-control" style="border-radius: 10px;" name="pessoa" id="pessoa" (change)='tipoPessoa($event)'>
            <option>Selecione um tipo de usuário:</option>
            <option value="pj">Pessoa Jurídica</option>
            <option value="pf">Pessoa Física</option>
          </select>
        </div> -->
        <div class="d-flex justify-content-center">
        <button type="button" class="text-white btn botao mt-3" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn botao2 text-white ml-3 mt-3" (click)='atualizar()'>Atualizar</button>
      </div>
      </div>
      
    </div>
  </div>
</div>
<!-- modal do editar perfil -->


<!-- <div class="container-fluid">
  <div class="row ">
    <div class="col d-flex justify-content-start ">


      <button class="btn corfundo mr-2 mb-3 mt-3 text-white" data-toggle="modal" data-target="#NovaPostagem"> Nova
        postagem</button>

      <a class="btn corfundo mr-2 mb-3 mt-3 text-white" href='#postagens'>Ver postagens</a>

    </div>
    <div class="col d-flex justify-content-start">
      <h2 class="">Bem Vindo(a)</h2>
    </div>
  </div>

</div>

<div class="container" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-item nav-link active" id="todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab"
        aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>

      <a (click)='findByIdUser()' class="nav-item nav-link" id="nav-minhasPostagens-tab" data-toggle="tab"
        href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
        postagens</a>

      <a class="nav-item nav-link" id="nav-postagemTema" data-toggle="tab" href="#postagemTema" role="tab"
        aria-controls="nav-postagemTema" aria-selected="false">Postagens por tema</a>
    </div>
  </nav>


  <div class="tab-content mt-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

      <div class="row d-flex justify_content-center mt-5 mb-5">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="titulo"
              placeholder="Digite um titulo de postagem para pesquisar" [(ngModel)]="tituloPost"
              (keyup)='findByTituloPostagem()'>

          </div>
        </div>
      </div>

      <div class="card-columns">
        <div class="card text-center" *ngFor='let item of listaPostagens | orderBy : key : reverse'>
          <div class="card-body">
            <h5 class="card-title m-0"> {{item.titulo}} </h5>
            <small class="text-muted">Tema: {{item.tema.descricao}} </small>
            <p class="card-text mt-3"> {{item.campo}} </p>
            <p class="card-text">
              <small class="text-muted"> {{item.dataPost | date: 'dd/MM/yyyy'}} às {{item.dataPost | date: 'HH:mm'}}
              </small>
            </p>

            <p class="card-text">
              <small class="text-muted">By: {{item.usuario.nome}} </small>
            </p>
          </div>
        </div>
      </div>

    </div>


    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-profile-tab">

      <div class="card-columns">
        <div class="card text-center" *ngFor='let item of user.postagem | orderBy : key : reverse'>
          <div class="card-body">
            <h5 class="card-title m-0"> {{item.titulo}} </h5>
            <small class="text-muted">Tema: {{item.tema.descricao}} </small>
            <p class="card-text mt-3"> {{item.campo}} </p>
            <p class="card-text">
              <small class="text-muted">{{item.dataPost | date: 'dd/MM/yyyy'}} às {{item.dataPost | date:
                'HH:mm'}}</small>
            </p>

            <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
            <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>

          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-contact-tab">

      <div class="row d-flex justify_content-center mt-5 mb-5">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="titulo" placeholder="Digite um tema para pesquisar"
              [(ngModel)]="descricaoTema" (keyup)='findByDescricaoTema()'>

          </div>
        </div>
      </div>


      <div class="card-columns" *ngFor='let tema of listaTemas'>
        <div class="card text-center" *ngFor='let item of tema.postagem | orderBy : key : reverse'>
          <div class="card-body">
            <h5 class="card-title m-0"> {{item.titulo}} </h5>
            <p class="card-text mt-3"> {{item.campo}} </p>
            <p class="card-text">
              <small class="text-muted">{{item.dataPost | date: 'dd/MM/yyyy'}} às {{item.dataPost | date:
                'HH:mm'}}</small>
            </p>

            <p class="card-text">
              <small class="text-muted">By: {{item.usuario.nome}} </small>
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="NovaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o titulo">
        </div>
        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.campo' class="form-control" name="texto" id="texto" rows="5"></textarea>
        </div>
        <div class="form-group">

          <label for="tema">Escolha um tema ou <strong><a data-dismiss="modal" class="fonte"
                style="text-decoration: none" routerLink="/tema">cadastre um novo</a></strong></label>
          <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
            <option value="">Escolha um tema</option>
            <option *ngFor='let tema of listaTemas' value="{{tema.id}}"> {{tema.descricao}} </option>
          </select>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="text-white btn botao2" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn botao text-white" data-dismiss="modal" (click)='publicar()'>Postar</button>
      </div>
    </div>
  </div>
</div> -->