a {
    text-decoration: none;
}

.btn-publique {
    display: flex;
    flex-grow: 1;
    height: 100px;
    background-color: white !important;
}

.btn-publique:hover {
    background-color: white !important;
}

.div-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.menu {
    padding: 0 !important;
    height: 100vh !important;
}

.container-fluid {
    height: 100vh;
}

.bg-color {
    background-color: #884890;
}

.corfundo{
    background-color: #72077f;
}

.botao{

    background-color: #72077f;
}
.botao2{


    background-color: #E5982E;
}

.fonte{
    color: #72077F;
}

.pl-50{
    padding-left: 100px;
}

.mt-100 {
    margin-top: 150px;
}

.text-light{
    padding-top: 7px;
}

.teste {
    flex-shrink: 1;
}