<div class="container-fluid">
    <div class="row ">
        <div class="col d-flex justify-content-start ">

            <button class="btn corfundo mr-2 mb-3 mt-3 text-white"> Nova postagem</button>
            <a class="btn corfundo mr-2 mb-3 mt-3 text-white" href=''>Ver postagens</a>

        </div>
        <div class="col d-flex justify-content-start">
            <h2 class="">Bem Vindo(a)</h2>
        </div>
    </div>

</div>

<div class="container">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

          <a class="nav-item nav-link active" id="todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>

          <a class="nav-item nav-link" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas postagens</a>

          <a class="nav-item nav-link" id="nav-postagemTema" data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por tema</a>
        </div>
      </nav>


      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
            Todas as postagens aqui

        </div>

        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-profile-tab">

            Minhas postagens
        </div>

        <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-contact-tab">
            
            postagens por tema
        </div>
      </div>
</div>