<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-ligth" style="background-color: #130538">
        
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item active">  
            <!-- por meio do {{foto}} a foto que já esta vinculada com o bd -->
            <img src="{{foto}}" alt=" Imagem User" class="img-fluid rounded-circle imgsocial">
        </li>
        <li class="nav-item">
            <p class="font-weight-bold text-white fs-16">{{nome}} </p>
        </li>        
        <li class="nav-item active">
            <a class="nav-link text-white fs-16" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white fs-16" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white fs-16" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white fs-16" href="#">Link</a>
        </li>        
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: #ffffff" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ação</a>
            <a class="dropdown-item" href="#">Outra ação</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Algo mais aqui</a>
            </div>
        </li>        
    </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn my-2 my-sm-0" type="submit" style="background-color: #72077f">Pesquisar</button>
            </form>

            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <li class="nav-item pl-3">
                    <a (click)= 'sair()' class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                  </li> 
              </ul>
            
        
        
    </div>    
</nav>
<!--/Navbar-->
