<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-ligth d-flex justify-content-between align-items-center" style="background-color: #F2F2FB;">


    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="row">
        <div class="col">
            <span class="text-black fs-20">Olá, Bem vinde</span>
        </div>
    </div>

    <!--Pesquisar-->
    <div class="row">
        <div class="col">
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <ul class="navbar-nav mr-auto">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-1 text-black" 
                            style="border-radius: 30px; border-color: #72077f; background-color: white;" type="search" placeholder="Pesquisar"
                            aria-label="Pesquisar"> 
                    </form>
                </ul>
            </div>
        </div>
    </div>

    <!--/Pesquisar-->

    <!--Nome do Usuário-->

    <!-- <p class="text-white">{{nome}}</p> -->

    <!-- <li class="nav-item dropdown d-flex" style="border-radius: 30px; background-color: white;">
     
        <a class="nav-link" style="color: black;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="{{foto}}" alt=" Imagem User" class="img-fluid rounded-circle imgsocial">
        </a>

        <div class="dropdown-menu text-white" aria-labelledby="navbarDropdown" style="background-color:  #130538;">
            <a class="dropdown-item text-white d-flex justify-content-center" style="background-color: #130538;" [routerLink]="['/user-edit', id]">Editar Perfil</a>
            <a class="dropdown-item text-white d-flex justify-content-center" style="background-color: #130538;" href="#">Outra ação</a>
            <a (click)='sair()' class="dropdown-item text-white d-flex justify-content-center" style="background-color: #130538;" href="#"><i class="fa fa-sign-in" style="font-size: 35px; color: white;" aria-hidden="true"></i>Sair</a>            
        </div>              
    </li> -->
    <!--/Nome do Usuário-->

    <!--Foto Usuário + Botão Sair-->
    <!-- <ul class="navbar-nav ml-auto d-flex align-items-center pl-2">
        <li class="nav-item active">        
            <img src="{{foto}}" alt=" Imagem User" class="img-fluid rounded-circle imgsocial">
        </li>
    
        <li class="nav-item pl-2">            
           <a (click)= 'sair()'><i class="fa fa-sign-in" style="font-size: 35px; color: white;" aria-hidden="true"></i></a>
        </li> 
    </ul> -->
    <!--/Foto Usuário + Botão Sair-->


</nav>
<!--/Navbar-->