<!-- tela de fundo  -->

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active img-1">
            <!-- div da imagem -->
            <app-loginboard></app-loginboard>
        </div>
        <div class="carousel-item img-2">
            <!-- div da imagem -->
            <app-loginboard></app-loginboard>
        </div>
        <div class="carousel-item img-3">
            <!-- div da imagem -->
            <app-loginboard></app-loginboard>
        </div>

        <div class="carousel-item img-4">
            <!-- div da imagem -->
                <app-loginboard></app-loginboard>
        </div>
    </div>
</div>

<!-- tela de fundo  -->
