


<!-- <div class="container">
    
    <div class="col-md-6 mt-40 ">

        <div class="form-group">
            <input [(ngModel)]='user.nome' class="form-control" type="text" name="nome" id="nome"
                placeholder="Seu nome">
        </div>

        <div class="form-group">
            <input [(ngModel)]='user.email' class="form-control" type="email" name="email" id="email"
                placeholder="Seu Email">
        </div>

        <div class="form-group">
            <input [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto"
                placeholder="Foto de Perfil">
        </div>

        <div class="form-group">
            <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha"
                placeholder="Sua Senha">
        </div>


        <div class="form-group">
            <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                placeholder="Confirme sua Senha">
        </div>

        <div class="form-group">
            <select class="form-control" name="pessoa" id="pessoa" (change)='tipoPessoa($event)'>
                <option>Selecione um tipo de usuário:</option>
                <option value="pj">Pessoa Jurídica</option>
                <option value="pf">Pessoa Física</option>
            </select>

            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-danger mr-4" routerLink='/inicio'>Cancelar</button>
                <button type="submit" class="btn btn-success" (click)='atualizar()'>Atualizar</button>
            </div>
        </div>
    </div>
</div> -->