<div class="carousel-caption">
    <div class="container d-flex justify-content-center bg-login">

        <div class="row d-flex justify-content-center"></div>
        <div class="col-md-5">
            <div class="col-md-4">

                <img class="tm-social2 ml-5 mt-100 " src="/assets/logo.png" alt="logo">
            </div>
        </div>
        <div class="col-md-6 mt-40 ">
           
            <div class="form-group">
                <input class="form-control" type="text" name="nome" id="nome"
                placeholder="Seu nome">
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" name="usuario" id="usuario"
                    placeholder="Seu usuário">
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" name="foto" id="foto"
                        placeholder="Foto de Perfil">
                        </div>


                
    <div class="form-group">
        <input class="form-control" type="password" name="senha" id="senha"
        placeholder="Sua Senha">
        </div>

        
    <div class="form-group">
        <input class="form-control" type="password" name="confirmSenha" id="confirmSenha"
        placeholder="Confirme sua Senha">
        </div>

        <div class="form-group">
            <select class="form-control" name="tipo" id="tipo">
            <option>Selecione um tipo de usuário:</option>
            <option value="normal">Normal</option>
            <option value="adm">Administrador</option>
            </select >

            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-danger mr-4" routerLink='/login'>Cancelar</button>
                <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>

            </div>
        </div>

