
<!--Jumbo-->
<h1 id="sobre"></h1>
    <br>
    <div class="jumbotron fundo1">
        <div class="container-fluid ">
            <div class="row fundo2 margem2">
                <div class="col-md-3 ">
                    <!-- <div class=""> -->
                    <img class="tm-social2" src="">
                </div>

                <div class="col-md-9">
                    <h3 class=" ">Sobre</h3>
                    <p class="lead ">
                        Com base nos Objetivos de Desenvolvimento Sustentável das Nações Unidas, escolhemos o item 8 - Trabalho decente e crescimento econômico.  O modelo de desenvolvimento web escolhido foi uma rede social, cujo objetivo será divulgar produtos e serviços de pequenos produtores locais (consumíveis, artesanatos, mão de obra e etc).  
                    </p>
                    <p class="lead ">Assim utilizando de trabalho voluntário para mapear os pequenos produtores, e também com profissionais qualificados que estejam dispostos a ajudar esses pequenos produtores com assessorias, suporte de melhoria para o negócio.  </p>
                    <p class="lead ">Através de nossa rede social, trabalhadores informais e microempreendedores poderão cadastrar os seus serviços e produtos na nossa plataforma, e assim divulgar para o público. Com o intuito de alavancar seu negócio e reerguer o pequeno empreendedor </p>
                </div>
            </div>
        </div>
<!--/Jumbo-->

<!------------------ Hover Effect Style : Demo - 16 --------------->
<div class="container-fluid mt-40">
  <h3 class="text-center">É nois</h3>
  <div class="row mt-30">
      <div class="col-md-4 col-sm-6">
          <div class="box16">
              <img class="tm-social2" src="https://i.imgur.com/LwIKM0E.jpg">
              <div class="box-content">
                  <h3 class="title">Jão</h3>
                  <span class="post">Web Developer</span>
                  <ul class="social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="box16">
              <img class="tm-social2" src="https://i.imgur.com/HiMf5cI.png">
              <div class="box-content">
                  <h3 class="title">Côrrea</h3>
                  <span class="post">Web Designer</span>
                  <ul class="social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="box16">
              <img class="tm-social2" src="https://i.imgur.com/wk4ir7Q.jpg">
              <div class="box-content">
                  <h3 class="title">Serjão</h3>
                  <span class="post">Web Designer</span>
                  <ul class="social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="d-flex "
      <div class="col-md-4 col-sm-6">
        <div class="box16">
            <img class="tm-social2" src="https://i.imgur.com/wk4ir7Q.jpg">
            <div class="box-content">
                <h3 class="title">Serjão</h3>
                <span class="post">Web Designer</span>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="box16">
          <img class="tm-social2" src="https://i.imgur.com/1sGUipx.png">
          <div class="box-content">
              <h3 class="title">Cinthia</h3>
              <span class="post">Web Designer</span>
              <ul class="social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
          </div>
      </div>
  </div>

  </div>
</div>
<!--/card effect-->


